/* Genel Ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0ceded;
  color: #333;
  line-height: 1.6;
}

/* Üst Kısım */
header {
  background:#2c3e50;;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}

/* Bölümler */
.section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.profil {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Projeler */
.projeler {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.proje {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 250px;
}

.proje h3 {
  margin-bottom: 10px;
  color: #0a636f;
}

/* Alt Kısım */
footer {
        background: #2c3e50;
        color: #ff0606;
        text-align: center;
        padding: 20px 0;
        font-size: 0.9em;
        }
  footer a {
        color: #95a5a6;
        text-decoration: none;
        margin: 0 10px;
    }

    footer a:hover {
        color: #ffffff;
        text-decoration: underline;
    }
